.cfp{
    margin-top: 30px;
    background-color: rgb(191,184,156, 0.5);
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.cfp  h2{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: #1e4175;
}

.cfp h1{
    font-size: 25px;
    font-weight: 350;
    padding-left: 30px;
}

.cfp p{
    font-size: 20px;
    line-height: 1.5;
    padding-left: 30px;
}

.sub{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.cfp-sub{
    padding: 20px 50px;    
}

.cfp-sub li{
    font-size: 18px;
    line-height: 1.5;
}

/* media query */

@media(max-width:750px){


    .cfp h1{
        font-size: 18px;
        padding-top: 30px;
    }

    .sub{
        gap: 5px;
    }

    .cfp-sub li{
        font-size: 16px;
    }

    .cfp p{
        font-size: 16px;
    }
}


@media(max-width:450px)
{
    .cfp{
        margin-top: 20px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .cfp h2{
        font-size: 25px;
        padding-top: 30px;
    }

    .cfp h1{
        font-size: 18px;
        padding-top: 10px;
        padding-left: 20px;
    }

    .sub{
        display:block;
        gap: 0px;
        padding: 30px 0;
    }

    .cfp-sub{
        padding: 0px 0px;    
        padding-left: 40px;
    }

    .cfp-sub li{
        font-size: 16px;
    }
}