.pub{
    margin-top: 40px;
    padding-bottom: 30px;
    
    padding-left: 5%;
    padding-right: 5%;
}

.pub  h2{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: #1e4175;
}

.pub h4{
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
    padding-left: 30px;
}

.pub ul li{
    font-size: 20px;
    margin-left: 60px;
}

/* media query */


@media (max-width: 750px) {

    .pub h4{
        font-size: 20px;
        padding-left: 20px;
    }

    .pub ul li{
        margin-left: 40px;
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .pub{
        margin-top: 50px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .pub h2{
        font-size: 35px;
        padding-top: 30px;
    }

    .pub h4{
        font-size: 20px;
        padding-left: 20px;
    }

    .pub ul li{
        margin-left: 40px;
        font-size: 18px;
    }
}
