.pub{
    margin-top: 100px;
    background-color: rgb(191,184,156, 0.5);
    padding-bottom: 30px;
}

.pub  h2{
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.pub h4{
    padding: 5px;
    font-size: 35px;
    padding-left: 30px;
}

.pub p{
    font-size: 25px;
    padding-left: 30px;
}