.about{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 20px;
    margin-right: 5%;
    width: 100%;
}

.about h2{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #1e4175;
}


.abt-con{
    padding: 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-bottom: 0px;
}

.abt-left{
    width: 70%;
}

.abt-right{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.w{
    background-color: white;
}

.abt-con h1{
    font-size: 25px;
    padding-top: 10px;
    color: #1e4175;
}

.abt-con p{
    margin-top: 10px;
    font-size: 18px;
    padding-bottom: 20px;
    text-align: justify;
}

.abt-con img{
    width: 340px;
    height: 240px;
}

/* media query */

@media(max-width: 1200px){
    .abt-con {
        flex-direction: column; /* Stack content vertically */
        padding: 10px 20px;
        gap: 15px;
    }

    .abt-left {
        width: 100%;
    }

    .abt-right {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}


@media(max-width: 700px){
    .abt-con h1 {
        font-size: 35px; /* Reduce heading size */
        padding-top: 5px;
    }

    .abt-con p {
        font-size: 18px;
        padding-bottom: 15px;
    }
}


@media (max-width: 450px) {
    .about {
        margin-top: 50px;
        gap: 20px;
        padding-left: 3%;
        padding-right: 3%;
    }

    .about h2 {
        font-size: 35px; /* Reduce font size for better fit */
        padding-top: 30px;
    }

    .abt-con {
        flex-direction: column; /* Stack content vertically */
        padding: 10px 20px;
        gap: 15px;
    }

    .abt-left {
        width: 100%;
    }

    .abt-right {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .abt-con h1 {
        font-size: 30px; /* Reduce heading size */
        padding-top: 5px;
    }

    .abt-con p {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .abt-con img {
        width: 100%; /* Make image responsive */
        height: auto;
        max-width: 280px; /* Prevents it from being too large */
    }
}
