.committee{
    margin-top: 100px; 
    background-color: rgb(191,184,156, 0.5);
    padding-bottom: 30px;
}


.committee h2{
    font-size: 50px;
    text-align: center;
    padding: 20px;
}


.patrons
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 80px;
    justify-content: center;
}

.patrons h1{
    margin-top: 20px;
    color: #1e4175;
}

.pat{
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
}

.w{
    background-color: white;
}


.h{
    margin-top: 70px;
    padding-left: 50px;
    padding-bottom: 20px;
    color: #1e4175;
}


.adv-com{
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.adv{
    padding: 10px 20px;
    width: 33%;
}

.adv h4{
    font-size: 20px;
}

.adv p{
    font-size: 17px;
}

.ind{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ind-sub{
    width: 50%;
}

.ind h4{
    font-size: 20px;
    padding: 5px;
}

.ind p{
    font-size: 17px;
}

.ord{
    display: flex;
    flex-direction: row;
    width: 100%;
}



/* media query */

@media (max-width: 450px)
{
    .committee{
        margin-top: 50px;
    }

    .committee h2{
        font-size: 35px;
    }

    .patrons
    {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    }

    .pat{
        width: 100%;
    }

    .pat h1{
        font-size: 30px;
    }
    
    .pat h4{
        margin-top: 10px;
        font-size: 20px;
    }

    .pat p{
        font-size: 18px;
    }

    .ord{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3px;
    }

    .subord{
        width: 100%;
        padding: 10px 20px;
        text-align: center;
    }

    .h{
        margin-top: 40px;
        text-align: center;
        padding-left: 0px;
        font-size: 30px;
    }

    .adv-com{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0px;
        padding: 0px 30px;
    }

    .adv{
        width: 100%;
    }

    .ind{

    }

    .ind-sub{
        width: 100%;
    }

}
