.committee{
    margin-top: 30px;
    padding-top: 20px; 
    background-color: rgb(191,184,156, 0.5);
    line-height: 1.5;
}


.committee h2{
    font-size: 30px;
    text-align: center;
    color: #1e4175;
}


.patrons
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 80px;
    justify-content: center;
}

.patrons h1{
    margin-top: 20px;
    color: #1e4175;
}

.pat{
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
}

.h{
    font-size: 25px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    color: #1e4175;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(191,184,156, 0.5);
}


.adv-com{
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    background-color:rgb(191,184,156, 0.5) ;
    padding-left: 5%;
    padding-right: 5%;
}

.adv{
    padding: 10px 20px;
    width: 33%;
}

.adv h4{
    font-size: 20px;
    font-weight: 400;
}

.wei h4{
    font-weight: 500;
}

.adv p{
    font-size: 17px;
}

.ind{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ind-sub{
    width: 50%;
}

.ind h4{
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

.ind p{
    font-size: 17px;
}

.ord{
    display: flex;
    flex-direction: row;
    width: 100%;
}



/* media query */

@media (max-width: 750px)
{
    .committee{
        margin-top: 20px;
    }

    .committee h2{
        font-size: 25px;
    }

    .patrons
    {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    }

    .pat{
        width: 100%;
    }

    .pat h1{
        margin-top: 0px;
        font-size: 30px;
    }
    
    .pat h4{
        margin-top: 10px;
        font-size: 20px;
    }

    .pat p{
        font-size: 18px;
    }

    .ord{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3px;
    }

    .subord{
        width: 100%;
        padding: 10px 20px;
        text-align: center;
    }

    .h{
        margin-top: 10px;
        text-align: center;
        padding: 0px 10px;
        font-size: 20px;
    }

    .adv-com{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0px;
        padding: 0px 30px;
    }

    .adv{
        width: 100%;
    }

    .adv h4{
        font-size: 16px;
    }

    .adv p{
        font-size: 14px;
    }
    .ind{

    }

    .ind-sub{
        width: 100%;
    }

    .ind-sub h4{
        font-size: 16px;
    }

}
