nav{
    width: 100%;
    /* background-color: #1e4175 ; */
    color: #fefefe;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo
{
    width: 180px;
    height: 80px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 15px;
    font-size: 25px;
    width: auto;
    cursor: pointer;
}

.dark-nav{
    background-color: #1e4175;
    transition: 0.2s;
}

nav ul li:hover{
    transform: scale(1.20);
    transition: 0.2s;
    color: #fecc00;
}

.menuicon{
    display: none;
}



/* media query */
@media (max-width: 1000px)
{
    .logo{
        width: 120px;
        height: 50px;
    }

    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 840px)
{
    nav  {
        padding: 15px 0;
        width: 60%;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1e4175;
        z-index: -1;
        width: 200px;
        padding: 10px;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px 40px;
    }

    .menuicon{
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .hide-mobile-menu{
        right: -200px;
    }
}

@media (max-width: 450px) {
    nav {
        position: fixed;
        width: 450px;
        padding: 12px 0;/* Slightly reduced padding */
    }

    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1e4175;
        z-index: 1000; /* Ensure visibility */
        width: 180px; /* Slightly increased width for better spacing */
        padding: 10px 0;
        transform: translateX(0);
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 18px 25px; /* Adjusted margin for better layout */
        font-size: 20px; /* Increased for readability */
    }

    .menuicon {
        display: block;
        width: 25px; /* Slightly larger for easier interaction */
        cursor: pointer;
    }

    /* When menu is open */
    .hide-mobile-menu {
        transform: translateX(-100%)
    }
}




