.reg{
    margin-top: 100px;
    background-color: rgba(191,184,156, 0.5);
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.r{
    background-color: rgba(191,184,156, 0.5);
    padding: 30px 60px;
}

.r p{
    font-size: 25px;
}

.r a{
    color: blue;
}


.reg h4{
    padding: 5px;
    font-size: 35px;
    padding-top: 20px;
    padding-left: 30px;
}


.reg p{
    padding: 5px;
    font-size: 28px;
    padding-left: 30px;
    margin-top: 10px;
}


table{
    padding-left: 30px;
    font-size: 25px;
    margin-top: 20px;
}

.amt{
    width: 33%;
}

.mod{
    width: 66%;
}

.head{
    text-align: center;
}

.cont{
    width: 50%;
}

.cont p{
    font-size: 25px;
    text-align: left;
    padding-left: 0;
    padding: 10px 10px;
}
.cont table{
    padding-left: 0;
    padding: 10px 10px;
}

.w{
    background-color: white;
}

.pp{
    background-color: rgba(191,184,156, 0.5);
    padding: 0 40px;
    padding-bottom: 30px;
}

.pp h4{
    padding: 5px;
    font-size: 35px;
    padding-top: 20px;
}

.r2 {
    padding: 30px 25px;
}

.r2 p{
    font-size: 25px;
}


/* media query */

@media(max-width:450px){
    .reg{
        margin-top: 50px;
        background-color: rgba(191,184,156, 0.5);
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        
        padding-left: 2%;
        padding-right: 2%;
    }

    .amt{
        width: 100%;
    }

    .reg h4{
        font-size: 35px;
    }

    table{
        padding-left: 30px;
        font-size: 20px;
        margin-top: 20px;
    }
    .reg p{
        padding: 5px;
        font-size: 20px;
        padding-left: 30px;
        margin-top: 10px;
    }


}